/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import '@ctrl/ngx-emoji-mart/picker';

@import "tailwindcss";



body {
  background-color: #ffffff;
}

.gray-bg {
  background-color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  >img {
    width: 100%;
  }
}
